.fixed-center{
	width: 100%;
	position: fixed;
	left: 0;
	top:40%;
}
/*尾部*/

.footer {
	width: 100%;
	height: auto;
	color: #696261;
	background-color:#101429;
	overflow: hidden;
	padding: 25px 0 25px 0;
	text-align:center;
}


/*尾部结束*/
.icon-width{
	width: 25px;
}
.am-list > li{
	border: none;
}